.admin-section{
    padding-left: 3%;
    padding-top: 1%;
}
.icon{
    width: 20px;
    margin-right: 3px;
}
.add-event{
    text-decoration: none;
    color: black;
}
.add-event:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.list-box-out{
    background-color: #E5E5E5;
    min-height: 630px;
    max-height: 1500px;
}
.list-box-in{
    padding: 8px;
    padding-left: 14px;
    border-radius: 3px;
    background-color: #fff;
    border-radius: 7px;
    min-height: 500px;
    max-height: 1450px;
}
table {
    border-collapse: collapse;
    width: 97%;
  }
  
th {
    padding-left: 5px;
    background-color: #F5F6FA;
    text-align: left;
  }  
td{
    padding-left: 5px;
    padding-top: 10px;
}
.dlt-action{
    margin-left: 17px;
    width: 25px;
    border-radius: 5px;
    background-color: rgb(209, 27, 27);
}
.dlt-action:hover{
    cursor: pointer;
}